{
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": ["*.json", "*.yaml", "*.yml"],
      "options": {
        "proseWrap": "preserve"
      }
    }
  ],
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2
}
